.login__container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d9d9d9;
  width: 100vw;
  height: 100vh;
}

.login__container_2 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: white;
  height: 60%;
  width: 75%;
}

.login__form {
  display: flex;
  flex-direction: column;
}

.login__form>input {
  background: #F0F0F0;
  border-radius: 5px;
  width: 442px;
  height: 68px;
}

.login__form>input::placeholder {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  /* identical to box height */
  padding-left: 20px;
  color: rgba(0, 0, 0, 0.4);
}

.login__form>button {
  width: 442px;
  height: 68px;
  background: #44B7F8;
  border-radius: 5px;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  /* identical to box height */

  text-align: center;

  color: #FFFFFF;
}

.login__container_2>p {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  /* identical to box height */

  text-align: center;

  color: #44B7F8;
}