.timeline {
  display: flex;
  flex: 1;
  width: 100%;
}

.timelineScroll {
  overflow-x: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.timeline__block {
  height: 92%;
  width: 100%;
}

.timeline__block_inner {
  height: 100%;
  position: relative;
}

.timeline__block_inner_item {
  background-color: #3E7553;
  border-radius: 1rem;
  border: 0.2rem solid #919191;
  height: 60%;
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  transition: all 0.2s ease-in;
}

.timeline__block_inner_item:hover {
  transition: all 0.2s ease-in;
  z-index: 2;
  background-color: var(--hover-color);
}

.timeline__block_inner_item.active {
  height: 80%;
  background-color: var(--hover-color);
}


.timeline__block_inner_item {
  color: #FFF;
  text-align: center;
  font-size: 0.7rem;
  font-family: Lato;
  padding: 10px 4px;
}


.hourStripe {
  border: 0px solid #FFF;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.00);
  height: 8%;
}

.hourStripe__inner {
  display: flex;
  height: 100%;
  align-items: center;
  border-radius: 30px;
  border: 0px solid #FFF;
  background: rgba(101, 93, 123, 0.70);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.00);
}

.hourStripe__item:first-child {
  border-radius: 30px 0 0 30px;
  padding-left: 5px;
}

/* .hourStripe__item:last-child {
  border-radius: 0 30px 30px 0;
} */

.hourStripe__item {
  height: 100%;
  color: #FFF;
  text-align: left;
  font-size: 1rem;
  font-family: Lato;
  font-weight: 700;
  flex-shrink: 0;
  display: flex;
  align-items: center;
}