.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 100%;
}

.sidebar__items {
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 5vh;
  padding: 8px 0;
}

.sidebar__items_title {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50px;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 800;
  font-size: 17px;
  line-height: 18px;
  text-align: center;
  padding: 5px;
  color: #423D3D;
  cursor: pointer;
  border-radius: 12px;
}
.sidebar__items_title:hover {
  background-color: rgba(128, 128, 128, 0.039);
}
.sidebar__items_container {
  /* animation: disappear 1s ease-in-out;
  animation-fill-mode: forwards; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  max-height: 0vh;
  transition: all 0.8s cubic-bezier(0.96, 0.13, 0, 1.14);
  overflow-y: scroll;
}

.sidebar__items_container::-webkit-scrollbar {
  display: none;
}


.sidebar__items_container.show {
  max-height: 60vh;
  transition: all 0.8s cubic-bezier(0.96, 0.13, 0, 1.14);
}

.sidebar__items_tasklist {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
  padding: 10px 10px;
  background: #FFFFFF;
  border: 0.5px solid #C1CACF;
  border-radius: 15px;
}


/* animation */


.scale-up-ver-top {
  -webkit-animation: scale-up-ver-top 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  animation: scale-up-ver-top 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
.disappear-animation {
  animation: disappear 1s ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes appear {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}

@keyframes disappear {
  0% {
    height: 100%;
  }
  100% {
    height: 0;
  }
}

@-webkit-keyframes scale-up-ver-top {
  0% {
    -webkit-transform: scaleY(0.4);
    transform: scaleY(0.4);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
  }

  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
  }
}

@keyframes scale-up-ver-top {
  0% {
    -webkit-transform: scaleY(0.4);
    transform: scaleY(0.4);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
  }

  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
  }
}

.scale-down-ver-top {
  -webkit-animation: scale-down-ver-top 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) backwards;
  animation: scale-down-ver-top 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) backwards;
}
@-webkit-keyframes scale-down-ver-top {
  0% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
  }
  100% {
    -webkit-transform: scaleY(0.3);
            transform: scaleY(0.3);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
  }
}
@keyframes scale-down-ver-top {
  0% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
  }
  100% {
    -webkit-transform: scaleY(0.3);
            transform: scaleY(0.3);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
  }
}